#hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;
    background: linear-gradient(327.21deg, rgba(33, 0, 75, 0.24) 3.65%, rgba(60, 0, 136, 0) 40.32%),
 linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(58, 19, 255, 0) 29.79%,
  rgba(98, 19, 255, 0.01) 85.72%), #13111C;
  color: #ffffff;
  /* clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 94%); */
}

#navbar{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navCenter{
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

#navWrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navWrap ul{
    display: flex;
    gap:1rem
}

#navWrap ul li a{
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
}

#socialIcons{
    display: flex;
    gap:1rem;
}

.socialIcon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 194, 201);
    border-radius: 50px;
    cursor: pointer;
}

.socialIcon img{
    width: 15px;
    height: 15px;
}

#heroOther{
    position: absolute;
    bottom:30%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 50px;
}

#heroOther h5{
   font-size: 10rem;
   font-weight: bold;
}

#heroOtherBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#heroOtherBottom p{
    font-size: 1.1rem;
    line-height:35px;
    width: 50%;
    text-align: left;
    color: #ffffff;
}

#heroBtn{
    display:flex;
    gap:15px;
    align-items: center;
    border: 0.5px solid rgb(126, 123, 123);
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

#heroBtn span{
    font-size: 1.1rem;
}

#heroBtn img{
    width: 20px;
    height: 20px;
}


/* #navbar{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navWrap{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#heroOther{

} */

/* #hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLeft,#socialIcons{
    display: flex;
    align-items: center; 
}*/

